@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --background: rgb(10, 10, 10);
    --main-color: white;
    --card-shadow: rgb(11, 11, 11);
    --invert: invert();
    --card-bg: rgb(13, 13, 13);
    --card-btn: rgba(27, 27, 27);
    --card-btnh: rgb(18, 18, 18);
    --card-btnch: rgb(80, 80, 80);
    --navbtnhc: rgba(130, 128, 128, 0.5);
}

[data-theme="light"] {
    --background: rgb(253, 251, 251);
    --main-color: rgb(172, 172, 172);
    --card-shadow: rgb(176, 176, 176);
    --invert: none;
    --card-bg: rgb(176, 176, 176);
    --card-btn: rgb(251, 251, 251);
    --card-btnh: rgb(255, 255, 255);
    --card-btnch: rgb(176, 176, 176);
    --navbtnhc: rgb(0, 0, 0);
}

html,
body {
    background-color: var(--background) !important;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    margin: 0 !important;
    perspective: 600px !important;
    transition: all 0.3s;
}

a {
    text-decoration: none;
}

/* Définition des styles pour la .navbarbar */
main {
    background-image: url("https://cdn.discordapp.com/attachments/955941057764405308/1084529784115167382/7a3a565535d205143c9a54434113f67d.gif");
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, var(--background), transparent);
    mask-image: linear-gradient(to bottom, var(--background), transparent);
    margin: 0 !important;
    padding: 20px 0 100px 0;
    filter: invert()
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.theme-switch input {
    visibility: hidden;
}

.theme-switch {
    content: '';
    display: inline-block;
    cursor: pointer;
    height: 25px;
    width: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 30px;
}

.theme-switch:not(:checked) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-moon-stars-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z'/%3E%3Cpath d='M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    filter: var(--invert);
    opacity: 0.7;
}

.navbar {
    margin-top: 30px;
}

.navbar a,
input,
label {
    position: relative;
    color: var(--main-color);
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin: 0 15px 0 15px;
    background-color: transparent;
    border-radius: 7px;
    transition: background-color 0.5s,
        color 0.5s;
}

.navbar a:hover {
    color: var(--navbtnhc);
    cursor: pointer;
}

/* Définition des styles pour le conteneur */
.container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 6rem auto 0 auto;
}

.text {
    font-size: 75px;
    text-align: center;
    color: var(--main-color);
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    transform-style: preserve-3d;
    position: relative;
}

.text::before,
.text::after {
    content: "Vayd";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: rotateY(0.5deg);
    filter: blur(5px);
    transform-origin: 0 50%;
}

.cards {
    perspective: 600px !important;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: var(--card-bg);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    width: 200px;
    height: 300px;
    transform: translate3d(0, 0, 0);
    margin: 20px;
}

.card__title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.card__subtitle {
    margin-top: 30px;
}

.card_skills {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
}

.card_skills i {
    margin: 15px;
    font-size: 25px;
}

.card__content {
    margin: 20px
}

.card__buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 20px 50px 20px 50px;
    position: fixed;
    bottom: 0;
    margin: 20px;
    background-color: var(--card-btn);
    transition: background-color 0.3s;
    color: #727272;
    border-radius: 6px;
}

.btn:hover {
    background-color: var(--card-btnh);
    transition: background-color 0.3s,
        color 0.3s;
    color: var(--card-btnch);
    cursor: pointer;
}

/* Animation */

@keyframes beat {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes rotate {

    from,
    to {
        animation-timing-function: ease-in;
        box-shadow:
            0 0 0 var(--card-shadow),
            0.1rem 0 0 var(--card-shadow),
            -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
        transform: rotateY(-10deg);
    }

    25%,
    75% {
        animation-timing-function: ease-out;
        box-shadow:
            0 0 0 var(--card-shadow),
            0 0 0 var(--card-shadow),
            -0.25rem -0.05rem 1rem 0.15rem hsla(0, 0%, 0%, 0.3);
        transform: rotateY(0deg);
    }

    50% {
        animation-timing-function: ease-in;
        box-shadow:
            -0.1rem 0 0 var(--card-shadow),
            0 0 0 var(--card-shadow),
            -0.3rem -0.1rem 1.5rem 0.3rem var(--card-shadow);
        transform: rotateY(10deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

@keyframes depth {
    0% {
        text-shadow: 0 0 var(--main-color);
    }

    25% {
        text-shadow: 1px 0 var(--main-color), 2px 0 var(--main-color), 3px 0 var(--main-color), 4px 0 var(--main-color), 5px 0 var(--main-color), 6px 0 var(--main-color);
    }

    50% {
        text-shadow: 0 0 var(--main-color);
    }

    75% {
        text-shadow: -1px 0 var(--main-color), -2px 0 var(--main-color), -3px 0 var(--main-color), -4px 0 var(--main-color), -5px 0 var(--main-color), -6px 0 var(--main-color);
    }

    100% {
        text-shadow: 0 0 var(--main-color);
    }
}